.recommendations {
    margin-left: 280px;
    margin-top: 130px;
}

.watching,
.new-content {
    margin-left: 280px;
    margin-top: 50px;
}

hr {
    margin-right: 100px;
    width: 91%;
}

.horizontal-line {
    border-top: 1px solid black; /* 수평선 스타일 정의 */
    margin-top: 20px; /* 필요에 따라 여백 설정 */
    margin-bottom: 20px; /* 필요에 따라 여백 설정 */
}

/* 숨겨져 있을때... max-height이 0이어야 숨겨지겠죠? */
.genres {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out; /* 부드럽게 애니메이션 효과 */
}

/* show 클래스가 추가되면 max-height를 300px로 설정해 장르 목록이 보이게 */
.genres.show {
    max-height: 300px; /* 사이드바에서 메뉴를 클릭했을 때 목록이 출력되는 높이 */
}

.close-button {
    cursor: pointer;
}



.category-page {
    margin-top: 120px;
    padding: 10px;
    transition: margin-left 0.3s ease-in-out;
    margin-bottom: 20px;
}

.category-page hr {
    margin-bottom: 30px;
}

.category-page h1 {
    margin-bottom: 30px;
}

.category-page h2 {
    font-size: 18px;
    text-align: left;
    margin-left: 10px;
}
.category-page.content-shift {
    margin-left: 420px;
}

.category-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 30px;
}

.category-box {
    flex: 1 1 60px;
    padding: 3px;
    border: 1px solid #ddd;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    margin: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.category-box.active {
    background-color:  #eceff4;
}

.category-card {
    background: none;
    border: none;
    font-size: 12px;
    padding: 30px;
    cursor: pointer;
}

.category-content {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.category-content .content-grid.selected-category {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.category-content .content-card {
    width: 180px;
    text-align: center;
}

.category-content .content-card iframe {
     width: 150px;
     height: 220px;
     border-radius: 8px;
}



.category-box.active {
    background-color:  #eceff4;
}

.category-card {
    background: none;
    border: none;
    font-size: 12px;
    padding: 0px;
    cursor: pointer;
}

.category-content2 .content-grid {
    display: flex;
    overflow-x: hidden;
    white-space: nowrap;
    gap: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    scrollbar-width: thin;
    scrollbar-color: #eceff4 #ffffff;
    transition: overflow-x 0.3s ease-in-out;
}

.category-content2 .content-grid:hover {
    overflow-x: auto;
}

.category-content2 .content-grid::-webkit-scrollbar {
    width: 8px;
}


.category-content2 .content-grid::-webkit-scrollbar {
    width: 8px;
}

.category-content3 {
    padding-top: 40px;
    padding-left: 40px;
    padding-right:40px;
}

.category-content {
    padding-top: 30px;
    padding-left: 30px;
    padding-right:30px;
    overflow-x: auto;
    white-space: nowrap;
}

.category-content .content-grid.selected-category {
    display: flex;
    gap: 10px;
    white-space: nowrap;
}

.category-content .content-card {
    display: inline-block;
    vertical-align: top;
    width: 180px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.category-content .content-card iframe {
    width: 180px;
    height: 260px;
}

.category-content .content-card:hover {
    transform: scale(1.05);
}

.category-content2 .content-card:hover {
    transform: scale(1.05);
}

.thumbnail-img {
    border-radius: 10px;
    margin-bottom: 5px;
    object-fit: cover;
    width: 180px;
    height: 260px;
}
