.recommendations {
    margin-left: 280px;
    margin-top: 130px;
}

.watching,
.new-content {
    margin-left: 280px;
    margin-top: 50px;
}

hr {
    margin-right: 100px;
    width: 91%;
}

.horizontal-line {
    border-top: 1px solid black; /* 수평선 스타일 정의 */
    margin-top: 20px; /* 필요에 따라 여백 설정 */
    margin-bottom: 20px; /* 필요에 따라 여백 설정 */
}



/*********** 사이드바에서 눌렀을 때 ***********/
/* 스타일을 없애고 패딩과 마진을 제거해 기본설정 초기화 */
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* 숨겨져 있을때... max-height이 0이어야 숨겨지겠죠? */
.genres {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out; /* 부드럽게 애니메이션 효과 */
}

/* show 클래스가 추가되면 max-height를 300px로 설정해 장르 목록이 보이게 */
.genres.show {
    max-height: 300px; /* 사이드바에서 메뉴를 클릭했을 때 목록이 출력되는 높이 */
}

.close-button {
    cursor: pointer;
}

/* 사이드바 열렸을 때 스타일 */
.sidebar.open .geners{
    overflow: hidden;
}



.image {
    width: 1px;
    height: 1px;
    object-fit: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.favorites-container {
    margin-top: 120px;
    padding: 15px;
    transition: margin-left 0.3s ease-in-out;
}

.favorites-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.menu-button {
    background: none;
    border: none;
    color: #000000;
    font-size: 20px;
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 18px;
}


.favorite-item {
    margin-bottom: 18px;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    object-fit: cover;
}



.favorite-item img {
  max-width: 100%;      /* 카드 너비보다 커지지 않게 */
  height: auto;         /* 비율 유지 */
  object-fit: contain;  /* 이미지가 짤리지 않고 프레임 안에 들어오게 */
  border-radius: 4px;
  display: block;
  object-fit: cover;
}


.video-container {
    position: relative;
    display: flex;
    align-items: center;
}

.video-list {
    display: flex;
    overflow-x: hidden;
    white-space: nowrap;
    padding-bottom: 10px;
    transition: overflow-x 0.3s ease-in-out;

    scrollbar-color:  #eceff4 #ffffff;
}

.thumbnail-img {
    border-radius: 10px;
    margin-bottom: 5px;
    object-fit: cover;
    width: 150px;
    height: 220px;
}



.video-list:hover {
    overflow-x: auto;
}

.video-item {
    display: inline-block;
    margin: 5px;
    text-align: center;
    flex-shrink: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-item iframe {
    width: 150px;
    height: 220px;
}

.video-item .video-title {
    margin-top: 5px;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* 호버 효과 */
.video-item:hover {
    transform: translateY(-5px); /* 호버 시 아이템 크기 커짐 */
}

.video-item:hover .video-title {
    color: var(--customColor); /* 호버 시 텍스트 색상 변경 */
}

.favorites-grid {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 40px;
    gap:10px;
}

.favorites-grid .favorite-item {
    width: calc(50% - 10px);
    margin-right: 10px;
    margin-bottom:10px;
}

.favorites-grid .favorite-item:nth-child(2n) {
    margin-right: 0;
}

.app-container.sidebar-open .favorites-container {
    margin-left: 250px;
}

