.video-list-scroll {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 12px;
  gap: 16px;
  scroll-behavior: smooth;
}

.video-list-scroll::-webkit-scrollbar {
  height: 8px;
}

.video-list-scroll::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.video-thumb {
  position: relative;
  display: inline-block;
}



.video-item {
  position: relative;
  flex: 0 0 auto;
}

.video-item img {
  width: 150px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
  display: block;
}

/* 이미지 호버 시 확대 */
.video-item:hover img {
  transform: scale(1.05);
}

/* 밑줄 기본은 숨김 */
.video-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--customColor); /* 원하는 색상 */
  transition: width 0.3s ease;
}

/* 호버 시 밑줄 표시 */
.video-item:hover::after {
  width: 100%;
}

.additional-sections {
  padding-left: 1.5rem;
}